extends layout

block content
    h1= collection.title
    p #{__('PLEASE')}
    .col-md-8.col-md-offset-2.center-align
        ul.list-group
        -var cards = collection.cards;
        each card, i in cards
            li.list-group-item.center-align
                p= card.front
                p= card.back
                p= card.translation
                p=card.example


            if user
                if user.id == collection.author
                    a.btn.btn-default(href='/cards/editcard/' + card.id) #{__('EDITCA')}
                    a.btn.btn-danger.delete-card(href='#', card-id=card.id) #{__('DELCA')}
        hr
        if user
            if user.id == collection.author
                a.btn.btn-default(href='/cards/edit/'+collection._id) #{__('ADDCOL')}
                a.btn.btn-danger.delete-article(href='#',data-id=collection._id) #{__('DELCOL')}
    .clearfix