extends layout

block content
    h1 #{__('EDITCA')}
    form(method='POST', action='/cards/editcard/'+card.id)
        #form-group
            label #{__('DEF')}
            input.form-control(name='front', type='text', value=card.front)
        #form-group
            label #{__('EXPL')}
            textarea.form-control(name='back')= card.back
        #form-group
            label #{__('TRNSL')}
            textarea.form-control(name='transl')= card.translation
        #form-group
            label #{__('EXMPL')}
            textarea.form-control(name='exmpl')= card.example
        br
        input.btn.btn-primary(type='submit',value='OK')