extends layout

block content
    h1= collection.title
    h5 #{__('ADDEDBY')} #{author}
    .description
        p=collection.description
        a.btn.btn-danger.get-data(coll-id=collection._id) #{__('START')}
    -var card = collection.cards[0];
    .operate(style="display: none").center-align
        .flip(id="js-flip")
            .cardy
                .face.front(id="fface")=card.front
                .face.back
                    .engl(id="bface")=card.back
                    .russ(id="bfaceT")=card.translation
                    hr
                    .exmpl(id="bfaceE")=card.example
        a.btn.btn-danger( id='next_button') #{__('NEXT')}
        a.btn.btn-danger( id='translate') #{__('TRANSL')}
    .question(style="display: none")
        .popup(style="display: none")
            p.mess
            a.btn.btn-danger( id='next_question') #{__('NEXT')}
        .task.flip.cardy.face(id='task-space')

        .options
            .demo.bordered(id='first' data-answ='')
            .demo.bordered(id='second' data-answ='')
            .demo.bordered(id='third' data-answ='')
    .clearfix





